{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-lg">
                <div class="card-body">
                    <table id="teamTable"
                           class="table table-bordered table-striped"
                           width="100%">
                        <thead>
                            <th>Team Number</th>
                            <th>Team Name</th>
                            <th>Teleop Accuracy %</th>
                            <th>Climb %</th>
                            <th>Traversal %</th>
                        </thead>
                        <tbody>
                        {% for team in teams %}
                            <tr>
                                <td>{{ team.team_number }}</td>
                                <td>{{ team.nickname }}</td>
                                <td>{{ team.accuracy }}</td>
                                <td>{{ team.successful_climb_percentage }}</td>
                                <td>{{ team.traversal_percentage }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready( function () {
    $('#teamTable').DataTable({
        "scrollX": true,
        "scrollY": "600px",
        "paging": false,
        fixedHeader: true,
        fixedColumns: true
    });
} );
</script>
{% endblock %}